@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
}

h2{
	text-align:center;
	text-transform:uppercase;
	
}

#wrapper{
	background:url(../images/skyline.png) no-repeat bottom;
	width:991px;
	height:600px;
	margin:auto;
	padding:10px;
	position:relative;
	
	-moz-box-shadow: 0 0 4px 4px #888;
	-webkit-box-shadow: 0 0 4px 4px#888;
	box-shadow: 0 0 4px 4px #888;
}

#title{
	background: url(../images/monopoly_logo.png) no-repeat center;
	width: 100%;
	height: 152px;
	text-indent: -1000px;
	margin-top: -30px;
	margin-bottom: 30px;
}

/* The Bank */
#theBank{	
	padding:5px;
	padding-bottom:15px;
	width:250px;
	margin:auto;
}

#bankTable td{
	width:50%;
	text-align:center;
}

/*Players Info*/
#playersDiv{
	margin:auto;
	width:300px;
	padding:5px;
}

th#name{
	padding-right:5em;
}
.players{
	padding:5px;
	width:50px;
	float:right;
	border: 0;
	background: transparent;
	font-family:inherit;
	padding:0;
}
.totals{
	text-align:right;
	font-size:12px;
}
#playersTable #add, #playersTable #sub{
	width:100px;
}
#playersTable #total{
	text-align:right;
}
#playersTable th{
	border-bottom:#999999 2px solid;
}

#playersTable td{
	border-bottom:#999999 1px solid;
}


/*Game Options*/
#gameOptions{
	bottom:0px;
	position:absolute;
	margin:5px;
}
#msg{
	bottom:0px;
	right:0px;
	position:absolute;
	background:#FFFFFF;
	margin:5px;
	border:inset;
	width:50%;
	padding:5px;
	}

.shadow{
	color:#000000;
	text-shadow: 2px 2px 3px #ccc;
}

.bordNtrans{
	background:url(../images/50w.png);
	border:1px groove grey;
}

.clear{
	clear:both;
	display:none;
}
.relative{
	position:relative;
}

.left{
	
	float:left;
}

.right{
	float:right;
}
.half{
	width:48%;
}